node_modules
.DS_Store
dist
*.local
.vite-inspect
.remote-assets
components.d.ts
cmake-build-debug
/public/test*.md
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/
*.xls
*.xlsx
report.md
pages/slides_4_old_backup.md
